<footer class="footer">

  <a class="footer-logo" href="{{ site.url }}">
    {% include logo.html %}
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="twitter" href="https://twitter.com/{{ site.twitter.username }}">
          <svg class="social-icon">
            <title>Twitter</title>
            <use href="#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="mastodon" href="https://fosstodon.org/@djangoconeurope">
          <svg class="social-icon">
            <title>Mastodon</title>
            <use href="#mastodon-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="github" href="https://github.com/djangocon/">
          <svg class="social-icon">
            <title>Github</title>
            <use href="#github-icon"></use>
          </svg>
        </a>
      </li>
      {% comment %}
      <li>
        <a class="facebook" href="https://www.facebook.com/djangoconus/">
          <svg class="social-icon">
            <title>Facebook</title>
            <use href="#facebook-icon"></use>
          </svg>
        </a>
      </li>
      {% endcomment %}
    </ul>

    <p class="text-center">
      <strong>
      如果有任何需要，欢迎发送邮件至:
        <a
          href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>

    <small class="legal text-center">
      瓦尔特刀具
      <a href="https://beta.companieshouse.gov.uk/company/10073469">no. 10073469</a>, 更多资料请至官方网站
      <a href="https://www.walter-tools.com/">WALTER</a>)
    </small>
    <small class="legal text-center">
      WALTER-TOOLS商标属于德国
      <a href="https://www.walter-tools.com/">WALTER集团</a>。
    </small>
  </div>
</footer>
